/* Main css stylesheet */

@import 'https://fonts.googleapis.com/css?family=Lato:900,300';

html, body {
  /* Margin & Padding */
  margin: 0; padding: 0;

  /* Global text params */
  font-family: Lato, sans-serif;
  font-size: 16px;

  /* Scroll */
  overflow: hidden;

  /* Background */
  background: #2b2b2b;

  /* Size */
  height: 100%; width: 100%;
}

menu {
  /* Position */
  position: relative;
  top: 0;

  /* Color */
  background: #f6f6f6;

  /* Size and spacing */
  margin: 0; padding: 0;
  width: 100%; height: 48px;

  /* Prepare underligning */
  padding-bottom: 2px;

  /* Text style overrride */
  font-size: 16px;

  /* Overflow */
  overflow: hidden;
}
menu .left {float: left;}
menu .right {float: right;}
menu a {
  /* Position */
  display: block;
  padding: 0 16px;

  /* Height */
  height: 48px;

  /* Text styling */
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  color: #2b2b2b;
}
menu a.hoverable:hover {
  /* On hover */
  background: #eeeeee;
  box-shadow: 0 2px 0 0 #2b2b2b;

  /* Cursor style */
  cursor: pointer;
}

.inout-wrapper {
  position: relative;

  width: 100%; height: 90%;
}
.inout {
  display: inline-block;

  border: 1px solid #f6f6f6;
  border-radius: 3px;

  background: #f6f6f6;
  color: #2b2b2b;

  resize: none;

  margin: 16px; padding: 2px;
  width: calc(50% - calc(32px + 2px + 6px)); /* Object width - (margin + padding + textarea borders) */
  height: calc(100% - 50px - 32px); /* Page height - menu - margin */
}
.inout .duckyscript {
  float: left;
}
.inout .arduino {
  float: right;
}

.console-wrapper {
  position: relative;

  width: 100%; height: 10%;

  top: -50px;
}
.console {
  display: inline-block;

  border: 1px solid #f6f6f6;
  border-radius: 3px;

  background: #f6f6f6;
  color: #2b2b2b;

  resize: none;

  margin: 16px; padding: 2px;
  width: calc(100% - calc(32px + 2px + 6px)); /* Page width - (margin + padding + textarea borders) */
  height: calc(100% - 32px); /* Page height - margin */
  line-height: calc(100% - 32px); /* Same */
}
