/* Main css stylesheet */

@import 'https://fonts.googleapis.com/css?family=Lato:900,300';

html, body {
  /* Margin & Padding */
  margin: 0; padding: 0;

  /* Global text params */
  font-family: Lato, sans-serif;
  font-size: 16px;

  /* Scroll */
  overflow: hidden;

  /* Background */
  background: #333333;

  /* Size */
  height: 100%; width: 100%;
}

menu {
  /* Position */
  position: relative;
  top: 0;

  /* Color */
  background: #f6f6f6;

  /* Size and spacing */
  margin: 0; padding: 0;
  width: 100%; height: 48px;

  /* Prepare underligning */
  padding-bottom: 2px;

  /* Text style overrride */
  font-size: 16px;

  /* Overflow */
  overflow: hidden;
}
menu .left {float: left;}
menu .right {float: right;}
menu a {
  /* Position */
  display: block;
  padding: 0 16px;

  /* Height */
  height: 48px;

  /* Text styling */
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  color: #333333;
}
menu a.hoverable:hover {
  /* On hover */
  background: #eeeeee;
  box-shadow: 0 2px 0 0 #333333;

  /* Cursor style */
  cursor: pointer;
}

.inout-wrapper {
  position: relative;

  width: 100%; height: 90%;
}
.inout {
  display: inline-block;

  border: 1px solid #f6f6f6;
  border-radius: 3px;

  background: #f6f6f6;
  color: #333333;

  resize: none;

  margin: 16px; padding: 2px;
  width: calc(50% - calc(32px + 2px + 6px)); /* Object width - (margin + padding + textarea borders) */
  height: calc(100% - 50px - 32px); /* Wrapper height - menu - margin */
}
.inout .duckyscript {
  float: left;
}
.inout .arduino {
  float: right;
}

.console-wrapper {
  position: relative;

  width: 100%; height: 10%;

  top: -50px;
}
.console {
  display: inline-block;

  border: 1px solid #f6f6f6;
  border-radius: 3px;

  background: #f6f6f6;
  color: #333333;

  resize: none;

  margin: 16px; padding: 2px;
  width: calc(100% - calc(32px + 2px + 6px)); /* Wrapper width - (margin + padding + textarea borders) */
  height: calc(100% - 32px); /* Wrapper height - margin */
  line-height: calc(100% - 32px); /* Same */
}

/* The ribbon */
.issue-ribbon{
  width: 300px;
  background: #333333;

  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;

  z-index: 1;

  box-shadow: 0 0 3px rgba(0,0,0,.3);

  top: 50px;
  right: -80px;
  position: fixed;
  transform: rotate(45deg);
}

/* The download popup */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
